@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

*{
  box-sizing: border-box;
}

body{
  font-family: 'Space Mono', monospace;
  margin: 0;
  background-image: url(./image/henry-be-IicyiaPYGGI-unsplash.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

h1{
  padding-top: 8rem;
  font-size: 4rem;
  text-transform: capitalize;
  text-align: center;
}

.coundown-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.big-text{
  font-size: 6rem;
  line-height: 1;
  margin: 0 2rem;
  font-weight: bold;
  
}

.conuntdown-el{
  text-align: center;
}

.conuntdown-el span{
  font-size: 1.3rem;
  text-transform: capitalize;
}